body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFE66D;
    padding: 20px;
    height: 250px;
}

h1 {
    font-size: 3em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2F3061;
    padding: 10px 0;
}

nav ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

article {
    width: 25%;
    margin: 20px;
}

.section-header {
    text-align: center;
    width: 90%;
}

.organization, .event, .news-article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.event-date {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

.event-date p {
    background-color: white;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
}

.event-info h3, p {
    margin: 0px;   
}

.headline {
    width: 40%;
    padding: 20px;
}

.news-list {
    width: 40%;
    padding: 20px;
}

@media (min-width: 768px) {
    .organization, .event, .news-article {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    .organization, .event, .news-article {
        flex-direction: column;
        align-items: center;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h2, h3 {
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

a {
    color: #6CA6C1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #DB2763;
}
